---
url: rosyama
title:  Про ямы
og_description: "История со счастливым концом о том, как МВД предпочитает блокировать обращения про ямы нежели заниматься их ремонтом."
categories: official
tags: [untolovo,gibdd,mvd]
js: [plyr]
---
{% include russia.html %}

<p>Во дворе летом ремонтировали глубокие ямы (скорее дырки) в асфальте. Но одну почему-то не заделали. За лето она разрослась. Так что не объехать.</p>

<p><a href="{{ page.i }}DstRB_e5CQU.jpg"><img src="{{ page.i }}DstRB_e5CQU.jpg"></a></p>

{% include russia.html %}

<blockquote class="border-start border-4 ps-4 my-3 fw-lighter">13 мар 2016: «Поздравляем, вы только что добавили новую яму на сайт! После того, как ваша яма пройдёт модерацию, заявление по ней будет отправлено в ГИБДД. В течение 37 дней ГИБДД обязана ответить, и выдать собственнику дороги предписание на устранение ямы в случае, если она действительно превышает допустимые размеры. Как только ответ от ГИБДД поступит к нам, мы расскажем вам, что будет дальше».</blockquote>

<p>Обращение долго висело в статусе «на модерации». Написал письмо в поддежку, в чём дело и что не так с моей ямой?</p>
<p>Ответ меня сильно впечатлил.</p>
{% include russia.html %}
<blockquote class="border-start border-4 ps-4 my-3 fw-lighter">29 июля 2016: «Вы только что добавили новую яму на сайт. Через некоторое время ваша яма пройдёт модерацию, и если всё в порядке, то обращение по ней будет отправлено в ГИБДД. О смене статуса вашей ямы мы оповестим вас письмом».</blockquote>

<p>Модерацию прошла, через пару недель починили. Теперь хорошо. Не то, чтоб прям идеально, но не на пол колеса.</p>

<p><a href="{{ page.i }}4fYPgwJvqNA1.jpg"><img src="{{ page.i }}4fYPgwJvqNA1.jpg"></a></p>


<h2>Тут пара вопросов, конечно</h2>
<p class="text-danger">1. У МВД есть ресурсы блокировать обращения, но нет — заниматься ремонтом. Это как-то вроде бы неправильно?</p>
<p>Вот к слову мои обращения в структуры МВД: <a href="/gibdd">раз</a>, <a href="/gibdd2">два</a>, <a href="/sidewalk-traffic">три</a>, <a href="/ipad">четыре</a>. Ни одно, повторю: ни одно, не привнесло чего-либо кроме
    отписок, в одном случае даже отписок не было.</p>
<p>2. Почему никто из других соседей — во дворе много народу с машинами-то — не почесался и не попытался решить проблему? Яму там не объехать, то есть абсолютно все в неё попадали; и она достаточно глубокая была, чтобы это списать на неровность дороги.</p>
<p>Про безразличие жителей <a href="/putin">уже ранее писал</a>. Что с этим делать — непонятно.</p>

<h2>Прошёл год — новые ямы на том же месте</h2>

<p>В этот раз яму промодерировали и отремотировали в течение пары недель.</p>

{% include russia.html %}
<p><a href="{{ page.i }}yama2.jpg"><img src="{{ page.i }}yama2.jpg"></a></p>
<p><a href="{{ page.i }}IMG_5318-2.jpg"><img src="{{ page.i }}IMG_5318-2.jpg"></a></p>

<h2>Комментарий от Александра</h2>

<p>Послушайте, пожалуйста. Но детей лучше в другую комнату отведите пока.</p>

{% include russia.html %}

<hr>

<p>«Сейчас я тебе еще аудио сделаю - будет немножко пованивать рекламой, но с другой стороны, приложуха сама бесплатная, рекламу не показывает и сцуко работает!!!»</p>

<blockquote class="border-start border-4 ps-4 my-3 fw-lighter">Детей из другой комнаты можно не возвращать пока.</blockquote>


{% include russia.html %}

<h2>И ещё переписка по теме</h2>

<p class="row">
    <div class="alert alert-warning col-10" role="alert">
      Вот совершенно непонятно, что тебе мешало написать обращение в ГИБДД самому и избежать этой вот хуиты. Очевидно же, что гайцы блокируют их не потому, что им про ямы неинтересно, а потому, что массовость обращений означает для них исключительно головняк и никак не увеличивает скорость ремонта.{% include russia.html %}
    </div>
</p>

<p class="row">
    <div class="alert alert-info col-10 offset-2" role="alert">
      там есть ссылки на три моих обращения в гибдд. оттуда приходят отписки.
      <br>не про ямы, а вообще
    </div>
</p>

<p class="row">
    <div class="alert alert-warning col-10" role="alert">
        так ты им про блокировку писал небось
        <br>а не про ямы
    </div>
</p>

<p class="row">
    <div class="alert alert-info col-10 offset-2" role="alert">
        <a href="http://stas.raskumandrin.ru/gibdd">раз</a>,
        <a href="http://stas.raskumandrin.ru/gibdd2">два</a>,
        <a href="http://stas.raskumandrin.ru/sidewalk-traffic">три</a> (в последнем вообще без реакции)
    </div>
</p>

<p class="row">
    <div class="alert alert-warning col-10" role="alert">
        Ну я подозреваю, да, что гибдд не особенно горит желанием идти на встречу гражданам и работать по каждому обращению. {% include russia.html %}
    </div>
</p>

<p class="row">
    <div class="alert alert-info col-10 offset-2" role="alert">
        ну ясно )
        <br>спасибо за отклик в любом случае.
        <br>
        <br>вчера вот меня мужик какой-то учить пытался (типа я его подрезал, а на самом деле он знак сужения дороги не видел) - <a href="http://stas.raskumandrin.ru/traffic-lane-markings">попросил</a> разметку для таких вот как он нанести.
        <br>реально, не верю в результат. но вдруг..
    </div>
</p>

<p class="row">
    <div class="alert alert-warning col-10" role="alert">
        Тебе надо в общественный совет при ГИБДД :)) Там такой есть 🙂
        <br>
        <br>Кстати совет. Если ты будешь писать обращения достаточно подробно, в доброжелательном, спокойном тоне, без лишнего канцелярита — шансы на конструктивную реакцию сильно увеличиваются
    </div>
</p>

<p class="row">
    <div class="alert alert-info col-10 offset-2" role="alert">
        ну я обычно так стараюсь и писать
    </div>
</p>

<p class="row">
    <div class="alert alert-warning col-10" role="alert">
        Это из моей личной практики. Когда человек мне с порога угрожает в обращении, желание разобраться пропадает прям сразу.
    </div>
</p>

<p class="row">
    <div class="alert alert-info col-10 offset-2" role="alert">
        ну вот там выше - ни  в одном такого нет. указываю везде какое-то неудобство/проблему. где-то даже предлагаю, как можно сделать. но как об стену горох (
        <br>это только с МВД. всё остальное работает ок в этом отношении (администрация района, муниципалы, комитет по транспорту, росгидромет).
        <br>
        <br>даже <a href="http://stas.raskumandrin.ru/ducks">комитет по природопользованию</a>! ))
    </div>
</p>

<h2>Прошло три месяца — октябрь 2017 — новые ямы</h2>

<p>Новые ямы — новое обращение, чего! </p>
{% include russia.html %}

<p>25 октября</p>

<p><a href="{{ page.i }}nov-1.jpg"><img src="{{ page.i }}nov-1.jpg"></a></p>

<p><a href="{{ page.i }}nov-2.jpg"><img src="{{ page.i }}nov-2.jpg"></a></p>

<p>В тот же день, 25 октября: «Мы отправили обращение по вашей яме в ГИБДД. Его идентификационный номер в интернет-приёмной: 78-1003623133, он может понадобиться вам, если вы захотите самостоятельно уточнить судьбу обращения».</p>

<p>14 ноября пришёл вот такой ответ из ГИБДД</p>

<p><a href="{{ page.i }}nov-resp.jpg"><img src="{{ page.i }}nov-resp.jpg"></a></p>

<p>Ямы пока не починили</p>

<p><a href="{{ page.i }}nov-11.jpg"><img src="{{ page.i }}nov-11.jpg"></a></p>

<p><a href="{{ page.i }}nov-12.jpg"><img src="{{ page.i }}nov-12.jpg"></a></p>

<h2>27 ноября</h2>

<p>Ямы не починены. Поискал сайт муниципального образования Юнтолово, там указан контактный адрес
    электронной почты. Написал «Прошло уже две недели с ответа ГИББД. Ямы не починены. Есть какая-то дата (дедлайн), когда это планируется сделать?»</p>

    <p>Никто, конечно, не посчитал важным и нужным ответить на это письмо.</p>

<h2>30 ноября (четверг)</h2>


<div class="paper-sheet paper-sheet--text paper-sheet--small">

<p class="text-right">в Электронную приёмную<br>Администрации Президента Российской Федерации
<br>Тип: жалоба
<br>Тематика обращения: Жилище</p>

<p class="text-justify">Добрый день.</p>

<p class="text-justify">Неоднократно обращался в ГИБДД по поводу разбитой дороги между домами 25 и 27 по улице Шаврова в Санкт-Петербурге. 29 июля 2016 года → дорогу починили 12 августа;  26 июня 2017 года → дорогу починили 9 июля.
Через три месяца после последнего ремонта — новая яма в новом месте. Отправил 25 октября 2017 года просьбу отремонтировать.
Из ГИБДД 13 ноября было направлено предписание в МО Юнтолово отремонтировать дорогу — до сих пор не отремонтировано.</p>

<p class="text-justify">Обращался напрямую в МО Юнтолово 27 ноября по электронной почте с просьбой сообщить сроки ремонта. Никакого ответа. Адрес mo69@mail.ru указан на сайте http://www.untolovo.org. Понятно, что это неофициальный и неформальный канал связи, но я не вижу готовности к диалогу. Письмо прикладываю.</p>

<p class="text-justify">Проблема носит системный характер. Сфотографировал тридцать метров дороги и отметил на ней заплатки — насчитал 12 штук! По двум из них обращения были мои, по остальным, видимо, другие жители обращались. Прикладываю изображение.</p>

<p class="text-justify">В связи с вышеописанным у меня ряд вопросов и просьб к Администрации Президента.</p>

<p class="text-justify">(1) По какой причине МО Юнтолово игнорирует предписание из ГИБДД в течение уже 18 дней? Прошу принять меры против бездействия чиновников, в чьи обязанности входит содержание указанной дороги.</p>

<p class="text-justify">(2) На сайте МО Юнтолово указан контактный e-mail, но никакого диалога не происходит если написать по этому адресу электронной почты. Прошу убрать с сайта емейл, чтобы другие жители тоже не тратили время и не питали пустые надежды на диалог с муниципалитетом.</p>

<p class="text-justify">(3) Прошу выяснить, насколько оправданной была экономия при укладке асфальта на этом участке. С учётом того, сколько после этого приходилось ремонтировать его. Каждый ремонт — это же не только обращение к подрядчику (который может и по гарантии его делает), это ещё время жителей, которые тратят время на обращения, время сотрудников ГИБДД, которые приезжают на место, осматривают, пишут предписания, время чиновников, которые эти предписания читают потом и направляют подрядчику на ремонт.</p>

<p class="text-justify">(4) Прошу проверить механизм контроля исполнения предписаний из ГИБДД. Есть ли возможность в случае неисполнения предписания муниципальным образованием решать вопрос локально, на уровне района, как без моего участия, так и без участия Москвы?</p>

<p class="text-justify">Прикладываю фотографию с отмеченными заплатками на дороге и выбоинами, которые просил починить, ответ из ГИБДД и письмо в МО Юнтолово.</p>

<p class="text-justify pt-3">Спасибо.</p>
<p class="text-justify"><i>Отправлено: 30 ноября 2017 года, 13:15</i></p>


</div>


<p><a href="{{ page.i }}yamy.jpg"><img src="{{ page.i }}yamy.jpg"></a></p>

<p><a href="{{ page.i }}yama3.jpg"><img src="{{ page.i }}yama3.jpg"></a></p>

<h2>1 декабря (пятница)</h2>
    <div class="paper-sheet paper-sheet--image">

<a href="{{ page.i }}1142151_7605043.jpg"><img src="{{ page.i }}1142151_7605043.jpg"></a>
</div>


<p>Управление по работе с обращениями граждан Администрации Губернатора СПб направляет документ № ОБ-14238-1/17-0-2 от 01.12.2017<p>

<p><a href="{{ page.i }}adm-resp.jpg"><img src="{{ page.i }}adm-resp.jpg"></a></p>

<h2>4 декабря (понедельник)</h2>

<p>Конечно, обращение в Администрацию Президента значительно ускоряет работу чиновников. Жаль, что без таких обращений эта работа медленная и часто недостаточно эффективна<p>
<blockquote class="border-start border-4 ps-4 my-3 fw-lighter">
от:	МО Юнтолово mo69@mail.ru
<br>дата:	4 декабря 2017 г., 11:57
<br>тема:	Ответ на обращение
<br>
<br>С уважением,
<br>Плотникова Елена Ивановна
<br>307-27-53
</blockquote>

    <div class="paper-sheet paper-sheet--image">
    <a href="{{ page.i }}760.jpg"><img src="{{ page.i }}760.jpg"></a>
</div>


<p>В 13:45 дорога выглядит вот так:</p>

<div class="row mb-3">
    <div class="col-6 text-center">
        <a href="{{ page.i }}IMG_20171204_132828-1.jpg"><img
            src="{{ page.i }}IMG_20171204_132828-2.jpg"></a>
    </div>
    <div class="col-6 text-center">
        <a href="{{ page.i }}IMG_20171204_132839-1.jpg"><img
            src="{{ page.i }}IMG_20171204_132839-2.jpg"></a>
    </div>
</div>


<div class="paper-sheet paper-sheet--text">

<p class="text-right">в электронную приёмную
<br>Администрации Санкт-Петербурга</p>
<p class="text-right pb-4">4 декабря 2017 года</p>

<p class="text-justify pt-5">Добрый день.</p>

<p class="text-justify">30 ноября через Администрацию Президента я отправлял обращение по поводу бездействия чиновников в ответ на просьбу отремонтировать дорогу между 25 и 27 домами по улице Шаврова в Санкт-Петербурге.</p>

<p class="text-justify">Обращение было переслано через Администрацию Губернатора в МО Юнтолово.</p>

<p class="text-justify">А26-09-114215171 от 30 ноября 2017 года
<br>ОБ-14238-1/17-0-2 от 1 декабря 2017 года</p>

<p class="text-justify">Сегодня, 4 декабря, из МО Юнтолово пришёл ответ (в 11:57), что дорога починена.</p>

<p class="text-justify">01-09/760-9 от 4 декабря 2017 года</p>

<p class="text-justify">Прикладываю фотографии «выполненного» ремонта. Фотографии сделаны в 13:45.</p>

<p class="text-justify">Мне не очень понятно, что происходит.
<br>Разъясните мне пожалуйста, по какой причине игнорируется предписание о ремонте из ГИБДД, приложено к предыдущему обращению? По какой причине я получаю отписки, не соответствующие действительности? По какой причине в ответе нет ни одного ответа на поставленные вопросы (причины задержки ремонта, оправданность экономии при укладке асфальта, использование не работающего адреса электронной почты)?</p>

<p class="pt-3 pb-5">Спасибо!</p>


</div>
<p>Зарегистрировано 4 декабря 2017 № ОБ-14238-2/17-0-0.</p>

<h2>7 декабря</h2>

<div class="paper-sheet paper-sheet--image">

<a href="{{ page.i }}768-22.jpg"><img src="{{ page.i }}768-22.jpg"></a>
</div>

<blockquote class="border-start border-4 ps-4 my-3 fw-lighter">
кому:	МО Юнтолово mo69@mail.ru
<br>дата:	8 декабря 2017 г., 14:18
<br>тема:	Ответ на обращение
<br>
<br>Елена, добрый день.
<br>
<br>Спасибо.
<br>
<br>Пробежал постановление — там про благоустройство. В моём понимании проезд относится к дорожной сети, а не к благоустройству (судя по беглому просмотру закона, это ни зелень, ни фасады, ни красивости).
<br>
<br>Я всё так же не получил содержательного ответа на все поставленные вопросы.
<br>
<br>Теперь уже это можно считать не позицией МО, а мнением (и отношением к вещам) Смольного. Так как через Администрацию Губернатора всё это сейчас проходит.
<br>
<br>Внимательно перечитаю постановление и все законы, ссылки на которые приведены в ответе МО. И напишу в Москву ещё раз. Теперь уже с вопросами о качестве работы Смольного в разрезе этой проблемы.

</blockquote>

<h2>18 декабря 2017</h2>

<p>Внезапно яму починили!</p>

<p><a href="{{ page.i }}IMG_5691.jpg"><img src="{{ page.i }}IMG_5691.jpg"></a></p>
<p><a href="{{ page.i }}IMG_5690.jpg"><img src="{{ page.i }}IMG_5690.jpg"></a></p>

<h2>21 декабря 2017</h2>

<div class="paper-sheet paper-sheet--image">

<a href="{{ page.i }}801.jpg"><img src="{{ page.i }}801.jpg"></a>
</div>


<h2>27 декабря 2017</h2>

<div class="paper-sheet paper-sheet--image">

<a href="{{ page.i }}resp2017.jpg"><img src="{{ page.i }}resp2017.jpg"></a>
</div>
